name: ci
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
permissions: {}
defaults:
  run:
    shell: bash -euo pipefail {0}
jobs:
  test:
    runs-on: ubuntu-24.04-arm
    outputs:
      SUMMARY: ${{ steps.summary.outputs.SUMMARY }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          submodules: recursive
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830  # v4.3.0
        with:
          path: |
            ~/.cache/org.swift.swiftpm
            ~/.swiftpm
            .build
          key: ${{ runner.os }}-swiftpm-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-swiftpm-
      - run: ./scripts/ci-install-swift.sh
      - run: swift --version
      - run: swift build --build-tests --disable-xctest --enable-code-coverage
      - run: swift test --skip-build --disable-xctest --enable-code-coverage --parallel
      - name: llvm-cov report
        id: report
        run: |
          echo 'OUTPUT<<EOF' >> "$GITHUB_OUTPUT"
          llvm-cov report .build/debug/zyphyPackageTests.xctest --instr-profile=.build/debug/codecov/default.profdata --ignore-filename-regex=".build|Tests|TokenizerMacros" --show-region-summary=false --show-branch-summary=false >> "$GITHUB_OUTPUT"
          echo 'EOF' >> "$GITHUB_OUTPUT"
      - name: Create summary text
        id: summary
        env:
          REPORT_OUTPUT: ${{ steps.report.outputs.OUTPUT }}
        run: |
          echo 'SUMMARY<<EOF' >> "$GITHUB_OUTPUT"
          echo '## Coverage Summary' >> "$GITHUB_OUTPUT"
          echo >> "$GITHUB_OUTPUT"
          echo "$(date)" >> "$GITHUB_OUTPUT"
          echo >> "$GITHUB_OUTPUT"
          echo '```' >> "$GITHUB_OUTPUT"
          echo "$REPORT_OUTPUT" >> "$GITHUB_OUTPUT"
          echo '```' >> "$GITHUB_OUTPUT"
          echo 'EOF' >> "$GITHUB_OUTPUT"
      - name: Create a job summary
        env:
          SUMMARY: ${{ steps.summary.outputs.SUMMARY }}
        run: echo "$SUMMARY" >> "$GITHUB_STEP_SUMMARY"
  comment-test:
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository }}
    needs: test
    runs-on: ubuntu-24.04-arm
    continue-on-error: true
    permissions:
      pull-requests: write
    steps:
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b  # v3.0.1
        with:
          message: ${{ needs.test.outputs.SUMMARY }}
          comment-tag: coverage
  lint:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - run: ./scripts/ci-install-swift.sh
      - run: swift format lint -rsp .
  benchmark:
    if: ${{ github.event_name == 'pull_request' }}
    needs: test
    runs-on: ubuntu-24.04-arm
    outputs:
      SUMMARY: ${{ steps.summary.outputs.SUMMARY }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - run: sudo apt-get update && sudo apt-get install --no-install-recommends -y libjemalloc-dev
      - run: ./scripts/ci-install-swift.sh
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830  # v4.3.0
        with:
          path: |
            ~/.cache/org.swift.swiftpm
            ~/.swiftpm
            Benchmarks/.build
          key: ${{ runner.os }}-bench-swiftpm-${{ hashFiles('Benchmarks/Package.resolved') }}
          restore-keys: ${{ runner.os }}-bench-swiftpm-
      - run: swift package --package-path Benchmarks benchmark baseline update pull_request --no-progress --quiet
      - name: Switch to branch '${{ github.event.pull_request.base.ref }}'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          clean: false
      - run: swift package --package-path Benchmarks benchmark baseline update base --no-progress --quiet
      - name: swift package benchmark baseline check
        id: check
        run: |
          set +e
          echo 'OUTPUT<<EOF' >> "$GITHUB_OUTPUT"
          swift package --package-path Benchmarks benchmark baseline check base pull_request --format markdown >> "$GITHUB_OUTPUT"
          echo 'EOF' >> "$GITHUB_OUTPUT"
      - name: swift package benchmark baseline compare
        id: compare
        run: |
          echo 'OUTPUT<<EOF' >> "$GITHUB_OUTPUT"
          swift package --package-path Benchmarks benchmark baseline compare base pull_request --no-progress --quiet --format markdown >> "$GITHUB_OUTPUT"
          echo 'EOF' >> "$GITHUB_OUTPUT"
      - name: Create summary text
        id: summary
        env:
          CHECK_OUTPUT: ${{ steps.check.outputs.OUTPUT }}
          COMPARE_OUTPUT: ${{ steps.compare.outputs.OUTPUT }}
        run: |
          echo 'SUMMARY<<EOF' >> "$GITHUB_OUTPUT"
          echo '## Benchmark Summary' >> "$GITHUB_OUTPUT"
          echo >> "$GITHUB_OUTPUT"
          echo "$(date)" >> "$GITHUB_OUTPUT"
          echo >> "$GITHUB_OUTPUT"
          echo "$CHECK_OUTPUT" >> "$GITHUB_OUTPUT"
          echo >> "$GITHUB_OUTPUT"
          echo '---' >> "$GITHUB_OUTPUT"
          echo >> "$GITHUB_OUTPUT"
          echo "$COMPARE_OUTPUT" >> "$GITHUB_OUTPUT"
          echo 'EOF' >> "$GITHUB_OUTPUT"
      - name: Create a job summary
        env:
          SUMMARY: ${{ steps.summary.outputs.SUMMARY }}
        run: echo "$SUMMARY" >> "$GITHUB_STEP_SUMMARY"
  comment-benchmark:
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository }}
    needs: benchmark
    runs-on: ubuntu-24.04-arm
    continue-on-error: true
    permissions:
      pull-requests: write
    steps:
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b  # v3.0.1
        with:
          message: ${{ needs.benchmark.outputs.SUMMARY }}
          comment-tag: benchmark
  yamllint:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - run: yamllint --version
      - run: yamllint --strict --config-file .yamllint.yml .
  shellcheck:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - run: shellcheck -V
      - run: git ls-files -z '*.sh' | xargs -0 --no-run-if-empty shellcheck
